# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.ruby-version

# jekyll
.jekyll-cache/

# development/production
_site/

# misc
.DS_Store
*.pem

# local env files
.env*.local
